@import '../../../../assets/styles/main.scss';

.user-page {

    &__list {
        
        align-items: center;
        border-top: 1px solid #ccc;
        display: flex;
        justify-content: stretch;
        
        &-item {

            display: block;
            flex: 1 1 auto;
            margin-top: -1px;
            text-align: center;

            &.active {
                border-top: 1px solid $black;
            }
        }

        &-link {
            border-radius: 5px;
            display: block;
            padding: 10px 0;
        }
    }

    &__content {
        width: 100%;
    }
}

@media only screen and(min-width: 400px) {
    .user-page {
        padding: 1rem .5rem 0;
    }
}

@media screen and(min-width: 736px) {
    .user-page {

        padding: 3rem 2rem 0;

        &__list {

            &-item {
                
                &:not(:last-child) {
                    margin-right: 6rem;
                }
            }
        }
    }
}