<div class="user-page">

    <h3>{{ username?.name }}</h3>

    <ul class="user-page__list">
        <li class="user-page__list-item" [ngClass]="{ 'active': router.isActive(username.name, true) }">
            <a [routerLink]="['', username?.name]" class="user-page__list-link">POSTS</a>
        </li>

        <li class="user-page__list-item" [ngClass]="{ 'active': router.isActive(username?.name + '/tagged', true) }">
            <a [routerLink]="['', username?.name, 'tagged']" class="user-page__list-link">TAGGED</a>
        </li>
    </ul>

    <div class="user-page__content">

        <router-outlet></router-outlet>

    </div>

</div>